// 用于存放animals样式
#animals {
  #ani-dog {
    .dog-views {
      min-height: 200px;
    }
    .dog-photos {
      height: 660px;
      .list {
        margin-top: 20px;
        max-height: 600px;
        overflow: auto;
        background-color: rgba(128, 128, 128, 0.2);
        border-radius: 10px;
        width: 60%;
        left: 20%;
        position: relative;
      }
    }
  }
}
