//global样式，禁止详细定义
@import './variable/color.less';

blockquote, body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4,
h5, h6, hr, input, li, ol, p, pre, td, textarea, th, ul {
  margin: 0;
  padding: 0;
}

body{
  overflow: hidden;
}

// 基本间距 s xm m xl l
@spaces: 5, 10, 15, 20, 25, 30, 35, 40;

a {
  cursor: pointer;
  text-decoration: none;
}

button,
input {
  outline: none;
}

li {
  list-style: none;
}

div, main, section {
  &::-webkit-scrollbar {
    width: 10px;
    height: 12px;
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: silver;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #a8e0e0;
    -webkit-box-shadow: silver;
  }
  &::-webkit-scrollbar-thumb:window-inactive {
    background: #ffc0cb;
  }
}

.ui-ta-c {
  text-align: center;
}

.ui-ta-l {
  text-align: left;
}

.ui-ta-r {
  text-align: right;
}

.ui-p-r {
  position: relative;
}

.ui-dis-flex {
  display: flex;
  flex: 1;
  &.end {
    justify-content: flex-end;
  }
}

// 生成 margin/padding 各个方面的各种常用间距
each(@spaces, {
  .ui-mt-@{value} {
    margin-top: (@value + 0px);
  }
  .ui-mr-@{value} {
    margin-right: (@value + 0px);
  }
  .ui-mb-@{value} {
    margin-bottom: (@value + 0px);
  }
  .ui-ml-@{value} {
    margin-left: (@value + 0px);
  }
  .ui-m-@{value} {
    margin: (@value + 0px);
  }
  .ui-pt-@{value} {
    padding-top: (@value + 0px);
  }
  .ui-pr-@{value} {
    padding-right: (@value + 0px);
  }
  .ui-pb-@{value} {
    padding-bottom: (@value + 0px);
  }
  .ui-pl-@{value} {
    padding-left: (@value + 0px);
  }
  .ui-p-@{value} {
    padding: (@value + 0px);
  }
});

@over: 100, 120, 160, 180, 240, 300;
each(@over, {
  .text-ellipsis-@{value} {
    width: (@value + 0px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
});

@icon: 12, 14, 16, 18, 20, 24, 28;
each(@icon, {
  .cus-icon-@{value} {
    cursor: pointer;
    font-size: (@value + 0px);
  }
});
